<h1>Movies</h1>

    <div class="movie-box">
      <%= image_tag("raiders.jpg") %>
      <h3><a href="#">Raiders of the Lost Ark</a></h3>
      <p>Archaeologist and adventurer Indiana Jones is hired by the US government to find the Ark of the Covenant before the Nazis.</p>
    </div>

    <div class="movie-box">
      <%= image_tag("apollo13.jpg") %>
      <h3><a href="#">Apollo 13</a></h3>
      <p>NASA must devise a strategy to return Apollo 13 to Earth safely after the spacecraft undergoes massive internal damage putting the lives of the three astronauts on board in jeopardy.</p>
    </div>

    <div class="movie-box">
      <%= image_tag("castaway.jpg") %>
      <h3><a href="#">Cast Away</a></h3>
      <p>A FedEx executive must transform himself physically and emotionally to survive a crash landing on a deserted island.</p>
    </div>
