/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
   font-family: "Helvetica", "Arial", sans-serif;
   margin: 20px;
 }

 h1 {
   border-bottom: solid 2px #AAA;
   padding-bottom: 12px;
 }
 a {
   text-decoration: none;
   color: #000;
 }

 a:hover {
   text-decoration: underline;
   color: #090;
 }

 .movie-box {
   float: left;
   width: 240px;
   height: 500px;
   border: solid 2px #CCC;
   padding: 20px;
   margin: 20px;
   text-align: center;
 }

 .movie-box img {
   text-align: center;
   margin: auto auto;
   display: block;
   box-shadow: 4px 4px 4px #AAA;
 }
